@import url('navbar.css');
@import url('mobile-navbar.css');

@media only screen and (max-width: 10000px) {
  .pm10-chart-container,
  .pm25-chart-container {
    height: 200px;
    width: 300px;
  }
  .atm-chart-cake {
    height: 250px;
    width: 500px;
  }
  .atm-chart-bar {
    height: 270px;
    width: 520px;
  }
}

@media only screen and (max-width: 1550px) {
  .main-menu {
    display: fixed;
  }
  .container-for-data-result {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* max-width: 950px; */
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    grid-template-areas:
      's1 s1 s2 s2'
      's3 s3 s3 s3'
      'c1 c1 c2 c2'
      'c1 c1 c2 c2'
      'm1 m1 m1 m1'
      'm1 m1 m1 m1'
      'm1 m1 m1 m1'
      'm1 m1 m1 m1'
      'a1 a2 a3 a4'
      'ap ap ap ap'
      'ap ap ap ap'
      'ap ap ap ap'
      'ap ap ap ap';
  }
  .pm10-chart-container,
  .pm25-chart-container {
    height: 200px;
    width: 300px;
  }
  .atm-chart-cake {
    margin-right: 50px;
    height: 250px;
    width: 500px;
  }
  .atm-chart-bar {
    margin-left: 50px;
    height: 250px;
    width: 520px;
  }
}
@media only screen and (max-width: 1200px) {
  .atm-chart-cake {
    height: 200px;
    width: 400px;
  }
  .atm-chart-bar {
    height: 200px;
    width: 420px;
  }
}

@media only screen and (max-width: 1100px) {
  .main-menu {
    display: fixed;
  }
  .container-for-data-result {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* max-width: 950px; */
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    grid-template-areas:
      's1 s1 s2 s2'
      's3 s3 s3 s3'
      'c1 c1 c2 c2'
      'c1 c1 c2 c2'
      'm1 m1 m1 m1'
      'm1 m1 m1 m1'
      'm1 m1 m1 m1'
      'm1 m1 m1 m1'
      'a1 a2 a3 a4'
      'ap ap ap ap'
      'ap ap ap ap'
      'ap ap ap ap'
      'ap ap ap ap';
  }
  .pm10-chart-container,
  .pm25-chart-container {
    width: 250px;
  }
  .atm-chart-cake {
    width: 300px;
  }
  .atm-chart-bar {
    width: 320px;
  }
  .myChart-3 {
    margin-right: 25px;
  }
  .myChart-4 {
    margin-left: 25px;
  }
}

@media screen and (max-width: 800px) {
  .main-menu {
    display: none;
  }
  .mobile-navbar {
    display: block;
  }
  .content {
    margin-left: 0;
  }
  .title {
    font-size: 12px;
  }
  .input-for-search-data {
    width: 40%;
  }
  .container-for-data-result {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    grid-template-areas:
      's1 s1'
      's2 s2'
      's3 s3'
      'c1 c1'
      'c1 c1'
      'c2 c2'
      'c2 c2'
      'm1 m1'
      'm1 m1'
      'm1 m1'
      'a1 a2'
      'a3 a4'
      'ap ap'
      'ap ap'
      'ap ap'
      'ap ap';
  }
  .pm10-chart-container,
  .pm25-chart-container {
    width: 250px;
  }
  .atm-chart-container {
    display: block;
  }
  .atm-chart-cake {
    margin-right: 0px;
    width: 350px;
  }
  .atm-chart-bar {
    margin-left: 0px;
    width: 350px;
  }
}

@media screen and (max-width: 550px) {
  .main-menu {
    display: none;
  }
  .mobile-navbar {
    display: block;
  }
  .content {
    margin-left: 0;
  }
  h1 a {
    font-size: 12px;
  }
  .title {
    font-size: 12px;
  }
  .input-for-search-data {
    width: 80%;
  }
  .button-for-search-data {
    display: inline;
  }
  .c-b-mq {
    text-align: center;
    display: block;
    /* display: block; */
  }
  .b-s-and-geo {
    margin-top: 25px;
  }
}

@media screen and (max-width: 550px) {
  .main-menu {
    display: none;
  }
  .mobile-navbar {
    display: block;
  }
  .content {
    margin-left: 0;
  }
  h1 {
    text-align: center;
  }
  h1 a {
    font-size: 12px;
  }
  .title {
    font-size: 12px;
  }
  .input-for-search-data {
    width: 80%;
  }
  .button-for-search-data {
    display: inline;
  }
  .c-b-mq {
    text-align: center;
    display: block;
    /* display: block; */
  }
  .b-s-and-geo {
    margin-top: 25px;
  }

  .pm10-chart-container,
  .pm25-chart-container {
    height: 170px;
    width: 250px;
  }
  .atm-chart-container {
    display: block;
  }
  .atm-chart-cake {
    margin-right: 0px;
    width: 300px;
  }
  .atm-chart-bar {
    margin-left: 0px;
    width: 300px;
  }
}
